################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EightQueens/EightQueens/.vs
/EightQueens/EightQueens/obj
/EightQueens/TestEightQueensSolver/bin/Debug/net6.0
/EightQueens/TestEightQueensSolver/obj
/EightQueens/EightQueens/bin/Debug/net6.0
